<div class="full-frame-hero">
  <div class="row text-silo">
    <div class="large-6 column large-centered text-center">
      <h1 class="main-title">Five Frames</h1>
      <p class="subheader">Tell your story.</p>
    </div>
  </div>
</div>


<div class="row text-center dark-explaination">
  <h2>How it works</h2>
  <div class="large-12 column instructions-set">
    <p>1. Upload five frames.</p>
    <%= image_tag 'food1.jpg', :class => 'image-slide slide-1' %>
    <%= image_tag 'food2.jpg', :class => 'image-slide slide-2' %>
    <%= image_tag 'food3.jpg', :class => 'image-slide slide-3' %>
    <%= image_tag 'food4.jpg', :class => 'image-slide slide-4' %>
    <%= image_tag 'food5.jpg', :class => 'image-slide slide-5' %>
  </div>
  <div class="large-12 column instructions-set">
    <p>2. Name your story.</p>
    <div class="row">
      <div class="type-out-message" data-ghost="Lazy brunch">
        <div class="ghost-message">Saturday l^^^azy ^^^^^^brunch
        </div>
      </div>
    </div>
  </div>
  <div class="large-12 column instructions-set">
    <p>3. Share with others!</p>
    <div class="row">
      <div class="type-out-message hidden">
        <div class="returned-url" data-ghost="">
          fiveframes.com/lazy-brunch
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="large-6 column large-centered">
    <h2>Get started now</h2>
    <%= link_to "Start making", frames_path, :class => 'button' %>
  </div>
</div>
