<div class="row">
  <h1>Stories</h1>
  <%= link_to 'New', new_story_path, :class => 'btn btn-mini' %>
  <p></p>
  <ul class="thumbnails files">
    <% @stories.each do |story| %>
        <li class="span4" id="story_<%= story.id %>">
          <div class="thumbnail">
            <% if story.frames.first %>
            <%= link_to image_tag(story.frames.first.image.url), story_path(story) %>
            <% else %>
              N/A
            <% end %>
            <div class="caption">
              <p style="text-align: center;">
                <%= story.name.truncate(14) %>
                <%= link_to "Show", story_path(story) %>
                <%= link_to "Edit", edit_story_path(story) %>
                <%= link_to "Delete", story,
                  :data => { :confirm => "Are you sure?" },
                  :method => :delete
                %>
              </p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>

</div>
