<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @frame.description %>
</p>

<p>
  <strong>Story:</strong>
  <%= @frame.story %>
</p>

<%= link_to 'Edit', edit_frame_path(@frame) %> |
<%= link_to 'Back', frames_path %>
